<mat-dialog-content class="mat-typography">
    <div class="dialog-body">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"  class="example-form" > 
          <div class="header-form">
            <h2 mat-dialog-title>{{appComponentText[this.setting.lang].clinicHistoryForm.titles.title1}}</h2><label class="required-tip-form">{{appComponentText[this.setting.lang].clinicHistoryForm.titles.title2}}</label>
          </div>
          <div class="section-form-container">
            <h4>{{appComponentText[this.setting.lang].clinicHistoryForm.general.title}}</h4>  
            <br>
            <div>               
              <mat-form-field>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                <input matInput [matDatepicker]="picker" placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.date}}" formControlName="date">                 
              </mat-form-field>               
            </div>    
            <br>        
            <br>
              <mat-form-field style="width: 30%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.name}}" value="" formControlName="name" autocomplete="disabled" required>
              </mat-form-field>        
              <mat-form-field style="width: 15%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.surname}}" value="" formControlName="surname" autocomplete="disabled" required>
              </mat-form-field> 
              <mat-form-field style="width: 15%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.surname2}}" value="" formControlName="surname2" autocomplete="disabled" required>
              </mat-form-field>                
              <mat-form-field style="width: 7%;">
                  <input type="number" matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.age}}" value="" min="1" formControlName="age" autocomplete="disabled" required>
              </mat-form-field> 
              <mat-form-field style="width: 20%;">
                  <mat-label>{{appComponentText[this.setting.lang].clinicHistoryForm.general.gender}}</mat-label>
                  <mat-select matNativeControl formControlName="gender" required>    
                    <mat-option value="n">N/A</mat-option>                  
                    <mat-option value="m">{{appComponentText[this.setting.lang].clinicHistoryForm.general.male}}</mat-option>
                    <mat-option value="f">{{appComponentText[this.setting.lang].clinicHistoryForm.general.female}}</mat-option>
                  </mat-select>
              </mat-form-field>  
              <br>
              <mat-form-field style="width: 10%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.surname}}" value="" formControlName="country" autocomplete="disabled" required>
            </mat-form-field> 
            <mat-form-field style="width: 10%;">
              <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.city}}" value="" formControlName="city" autocomplete="disabled" required>
          </mat-form-field> 
              <mat-form-field style="width: 20%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.street}}" value="" formControlName="street" autocomplete="disabled" required>
              </mat-form-field>  
              <mat-form-field style="width: 20%;">
                <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.avenue}}" value="" formControlName="avenue" autocomplete="disabled" required>
              </mat-form-field>  
              <mat-form-field style="width: 10%;">
                <input type="number" matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.number}}" value="" formControlName="number" autocomplete="disabled" required>
              </mat-form-field>                
              <mat-form-field style="width: 20%;">
                  <input type="email" matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.email}}" value="" formControlName="email" autocomplete="disabled" required>
              </mat-form-field> 
              <mat-form-field style="width: 20%;">
                  <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.phone}}" value="" formControlName="phone" autocomplete="disabled" required>
              </mat-form-field> 
              <br>
              <mat-form-field style="width: 60%;">
                  <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.reference}}" value="" formControlName="reference" autocomplete="disabled" required>
              </mat-form-field> 
              <mat-form-field style="width: 30%;">
                  <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.general.ocupation}}" value="" formControlName="ocupation" autocomplete="disabled" required>
              </mat-form-field> 
          </div>         
          <br>
          <div class="section-form-container">
              <h4>{{appComponentText[this.setting.lang].clinicHistoryForm.emergencyContact.title}}</h4> 
              <mat-form-field style="width: 60%;">
                  <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.emergencyContact.name}}" value="" formControlName="emergencyName" autocomplete="disabled" >
              </mat-form-field> 
              <mat-form-field style="width: 30%;">
                  <input matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.emergencyContact.phone}}" value="" formControlName="emergencyPhone" autocomplete="disabled" >
              </mat-form-field>  
          </div>       
          <br>
          <div class="section-form-container">
            <h4>{{appComponentText[this.setting.lang].clinicHistoryForm.background.title}}</h4> 
            <mat-form-field style="width: 100%;">
              <textarea matInput formControlName="familyGeneticDisease" placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.background.motive}}"></textarea>
            </mat-form-field> 
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.background.motive}}" value="" formControlName="motive" autocomplete="disabled" ></textarea>
            </mat-form-field>  
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.background.illness}}" value="" formControlName="disease" autocomplete="disabled" ></textarea>
            </mat-form-field>  
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="{{appComponentText[this.setting.lang].clinicHistoryForm.background.allergies}}" value="" formControlName="allergies" autocomplete="disabled" ></textarea>
            </mat-form-field>  
          </div>       
          <div class="section-form-container">
              <h4>Cuestionario Medico</h4> 
              <mat-checkbox formControlName="isUnderTreatment">¿Esta usted bajo tratamiento médico?</mat-checkbox><br>
              <mat-form-field style="width: 100%;" *ngIf="checkoutForm.value.isUnderTreatment">
                  <input matInput placeholder="¿Cual?" value="" formControlName="treatment" autocomplete="disabled" >
              </mat-form-field>
              <mat-checkbox formControlName="isOnAspirine">¿Esta tomando aspirina?</mat-checkbox><br>
              <mat-checkbox formControlName="hasBloodBeenTransplanted">¿Ha recibido alguna transfución sanguinea?</mat-checkbox><br>
              <mat-checkbox formControlName="hasTakenDrugs">¿Ha consumido o consume drogas?</mat-checkbox><br>
              <mat-checkbox formControlName="hasReactedToAnesthesia">¿Tuvo alguna reacción a la anestecia local?</mat-checkbox><br>
              <mat-checkbox formControlName="isPregnant">¿Está usted embarazada?</mat-checkbox>  
              <mat-form-field style="width: 10%;" *ngIf="checkoutForm.value.isPregnant">
                  <input  type="number" matInput placeholder="Meses" value="" formControlName="months" autocomplete="disabled" >
              </mat-form-field><br>
              <mat-checkbox formControlName="hasExcesiveBleeding">Sangre excesivamente al cortarse</mat-checkbox><br>
              <mat-checkbox formControlName="hasCoagulationProblems">Problemas de coagulación</mat-checkbox><br>
              <mat-checkbox formControlName="hasALHK">Anemía, leucemia, hemofília, deficiencia de vitamina K</mat-checkbox><br>
              <mat-checkbox formControlName="hasAT">Alcoholismo, tabaquismo</mat-checkbox><br>
              <mat-checkbox formControlName="hasHKLComplications">Problemas del corazón, riñones o hígado</mat-checkbox><br>
              <mat-checkbox formControlName="hasOsteoporosis">Osteoporosis</mat-checkbox><br>
              <mat-checkbox formControlName="hasSTDs">Enfermedades venéreas: Sífilis, gonorrea, SIDA</mat-checkbox><br>
              <mat-checkbox formControlName="hasCancer">Cancer</mat-checkbox><br>
              <mat-checkbox formControlName="hasHepatitis">Hepatítis</mat-checkbox><br>
              <mat-checkbox formControlName="hasFever">Fiebre reumática</mat-checkbox><br>
              <mat-checkbox formControlName="hasAsthma">Asma</mat-checkbox><br>
              <mat-checkbox formControlName="hasDiabetes">Diabetes</mat-checkbox><br>
              <mat-checkbox formControlName="hasGastricUlcer">Ulcera gástrica</mat-checkbox><br>
              <mat-checkbox formControlName="hasThyroid">Tiroides</mat-checkbox><br>
              <mat-checkbox formControlName="hasEpilepsy">Epilepsia</mat-checkbox><br>
              <mat-checkbox formControlName="hasTuberculosis">Tuberculosis</mat-checkbox><br>
              <mat-checkbox formControlName="hasTachycardia">Taquicardia</mat-checkbox><br>
              <mat-checkbox formControlName="hasHighPressure">Alta presión</mat-checkbox><br>
              <mat-checkbox formControlName="hasLowPressure">Baja presión</mat-checkbox><br>
              <mat-form-field style="width: 100%;">
                  <textarea matInput formControlName="observations" placeholder="Observaciones:"></textarea>
              </mat-form-field> 
              <br><br>
          </div>   
          <button type="submit" id="formButton" style="visibility: hidden;" ></button>
      </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeForm(false)">Cancelar</button>
    <button mat-raised-button  color="primary" (click)="triggerSubmitButton()" >Guardar</button>
</mat-dialog-actions>
