.table-todays-client{
    height: 400px;
    overflow: auto;
}
.module{
    padding: 5px;
    margin: 8px;
    color: gray;
    font-size: 14px;
    label{
        padding: 10px;
        margin-bottom:0 !important;
    }
}
.module:hover{
    color: white;
    cursor: pointer;
}

.lang-input{
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
    .selected {
        text-decoration: underline;
    }
}
#lang-div{
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}